@keyframes line-move {

      0%,
      100% {
            transform: translateX(0) scaleX(.35);
      }

      50% {
            transform: translateX(-50px) scaleX(.35);
      }



}


@media screen and(max-width:375px) {
      @keyframes line-move {

            0%,
            100% {
                  transform: translateX(0) scaleX(.35);
            }

            50% {
                  transform: translateX(-30px) scaleX(.35);
            }
      }


}


@keyframes from-right {
      from {
            transform: translateX(150px);
      }

      to {
            transform: translateX(0px);
      }
}

@keyframes from-bottom {
      from {
            transform: translateY(350px);
      }

      to {
            transform: translateY(0px);
      }
}

@keyframes from-top {
      from {
            transform: translateY(-100px);
      }

      to {
            transform: translateY(0px);
      }
}

@keyframes appear {
      from {
            opacity: 0;
      }

      to {
            opacity: 1;
      }
}

.animate__heading {
      animation: from-right .5s ease-in-out forwards,
            appear .5s ease-in-out forwards;
}

.animate__paragraph {
      animation: from-bottom .5s ease-in-out forwards,
            appear .5s ease-in-out forwards;
      animation-delay: .5s;
}

.animate__paragraph1 {
      animation: from-top .5s ease-in-out forwards,
            appear .5s ease-in-out forwards;

}

.animate__button {
      animation: from-right .5s ease-in-out forwards,
            appear .5s ease-in-out forwards;
      animation-delay: .3s;
}


/* ********************************************** */

@keyframes hill1 {
      from {
            transform: translateX(0);
      }

      to {
            transform: translateX(20px);
      }
}

@keyframes hill2 {
      from {
            transform: translateX(0px);
      }

      to {
            transform: translateX(15px);
      }
}

@keyframes hill3 {
      from {
            transform: translateX(-100px);
      }

      to {
            transform: translateX(-20px);
      }
}



.hill1__animation {
      animation: hill1 3s ease-in-out forwards;
}

.hill2__animation {
      animation: hill2 2s ease-in-out forwards;
}

.hill3__animation {
      animation: hill3 4s ease-in-out forwards;
      // animation-delay: .5s;
}