nav {
      position: fixed;
      width: 100vw;
      z-index: 3;
      transition: .5s;

      ul {
            display: flex;
            justify-content: center;
            text-align: center;

            @media screen and(max-width:624px) {
                  display: none;
            }

            @media screen and(max-width:1023px) {
                  display: none;
            }

      }

      li {
            display: inline-block;
            list-style-type: none;
            margin-top: 16px;
            margin-right: 20px;
      }

      a {
            text-decoration: none;
            color: white;
            font-size: 1.6rem;
            text-transform: uppercase;
            display: inline;
            font-weight: bold;
            transition: .5s;

            &.active,
            &:hover {
                  border-bottom: 1px solid rgb(0, 159, 170);
            }
      }



      >div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

      }
}

.nav__logo {
      padding: 1.8rem 0 1.8rem 6.2rem;
      box-sizing: content-box;

      @media screen and(max-width:1024px) {
            padding: .5rem;
            transform: scale(.7);
      }
}