@font-face {
  font-family: 'brushstrike';
  src: url(../fonts/brushstrike-webfont.woff), url(../fonts/brushstrike-webfont.woff2);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  width: 100vw;
  outline: none;
}

.container {
  max-width: 144rem;
  width: 100%;
  margin: 0 auto;
}

/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** */
/* ** ** ** * V a r i a b l e s ** ** ** **  */
/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** */
:root {
  --white: #ffffff;
  --pri-valley-green-100-default: #c2d500;
  --pri-den-gray-100: #323e48;
  --pri-freshwater-blue-100-default: #00a6ce;
  --sec-sea-foam-green-100-default: #00afaa;
  --sec-sunset-yellow-100-default: #faa31b;
  --pri-valley-green-110: #afc000;
  --sec-orchid-purple-100-default: #e53bb3;
  --sec-salmon-pink-100-default: #ff6b68;
  --pri-valley-green-090: #c8d91a;
  --sec-saltwater-blue-100-default: #005cb9;
  --pri-valley-green-080: #cedd33;
  --pri-valley-green-060: #dae666;
  --pri-valley-green-070: #d4e24d;
  --pri-valley-green-050: #e1ea80;
  --pri-valley-green-040: #e7ee99;
  --pri-valley-green-020: #f3f7cc;
  --pri-valley-green-030: #edf2b3;
  --pri-valley-green-010: #f9fbe6;
  --pri-freshwater-blue-080: #33b8d8;
  --pri-freshwater-blue-110: #0095b9;
  --pri-freshwater-blue-090: #1aafd3;
  --pri-freshwater-blue-030: #b3e4f0;
  --pri-freshwater-blue-040: #99dbeb;
  --pri-freshwater-blue-050: #80d3e7;
  --pri-freshwater-blue-060: #66cae2;
  --pri-freshwater-blue-020: #ccedf5;
  --pri-freshwater-blue-070: #4dc1dd;
  --pri-den-gray-110: #2d3841;
  --pri-freshwater-blue-010: #e6f6fa;
  --pri-den-gray-140: #1e252b;
  --pri-den-gray-090: #47515a;
  --pri-den-gray-080: #5b656d;
  --pri-den-gray-070: #70787f;
  --pri-den-gray-060: #848b91;
  --pri-den-gray-050: #999fa4;
  --pri-den-gray-040: #adb2b6;
  --pri-den-gray-030: #c2c5c8;
  --pri-den-gray-020: #d6d8da;
  --pri-den-gray-010: #ebeced;
  --sec-saltwater-blue-110: #0053a7;
  --sec-saltwater-blue-090: #1a6cc0;
  --sec-saltwater-blue-080: #337dc7;
  --sec-saltwater-blue-070: #4d8dce;
  --pri-den-gray-005: #f7f9fb;
  --sec-saltwater-blue-060: #669dd5;
  --sec-saltwater-blue-050: #80aedc;
  --sec-saltwater-blue-040: #99bee3;
  --sec-saltwater-blue-020: #ccdef1;
  --sec-saltwater-blue-010: #e6eff8;
  --sec-saltwater-blue-030: #b3ceea;
  --sec-sea-foam-green-110: #009e99;
  --sec-sea-foam-green-090: #1ab7b3;
  --sec-sea-foam-green-080: #33bfbb;
  --sec-sea-foam-green-070: #4dc7c4;
  --sec-sea-foam-green-060: #66cfcc;
  --sec-sea-foam-green-050: #80d7d5;
  --sec-sea-foam-green-030: #b3e7e6;
  --sec-sea-foam-green-040: #99dfdd;
  --sec-sea-foam-green-010: #e6f7f7;
  --sec-sea-foam-green-020: #ccefee;
  --sec-sunset-yellow-110: #e19318;
  --sec-sunset-yellow-090: #fbac32;
  --sec-sunset-yellow-080: #fbb549;
  --sec-sunset-yellow-070: #fcbf5f;
  --sec-sunset-yellow-060: #fcc876;
  --sec-sunset-yellow-040: #fddaa4;
  --sec-sunset-yellow-030: #fee3bb;
  --sec-sunset-yellow-020: #feedd1;
  --sec-sunset-yellow-010: #fff6e8;
  --sec-salmon-pink-090: #ff7a77;
  --sec-salmon-pink-080: #ff8986;
  --sec-salmon-pink-070: #ff9795;
  --sec-salmon-pink-060: #ffa6a4;
  --sec-salmon-pink-050: #ffb5b4;
  --sec-salmon-pink-040: #ffc4c3;
  --sec-salmon-pink-030: #ffd3d2;
  --sec-salmon-pink-020: #ffe1e1;
  --sec-salmon-pink-010: #fff0f0;
  --sec-orchid-purple-110: #ce35a1;
  --sec-orchid-purple-080: #ea62c2;
  --sec-orchid-purple-090: #e84fbb;
  --sec-orchid-purple-070: #ed76ca;
  --sec-orchid-purple-060: #ef89d1;
  --sec-orchid-purple-050: #f29dd9;
  --sec-orchid-purple-040: #f5b1e1;
  --sec-orchid-purple-030: #f7c4e8;
  --sec-sunset-yellow-050: #fdd18d;
  --sec-orchid-purple-020: #fad8f0;
  --sec-orchid-purple-010: #fcebf7;
  --sec-salmon-pink-110: #e6605e;
  --transparency: rgba(255, 255, 255, 0);
  --colour-fec-800: #fec800;
  --white-two: #efefef;
  --core-error-2-2-2: #c90000;
}

nav {
  position: fixed;
  width: 100vw;
  z-index: 3;
  -webkit-transition: .5s;
  transition: .5s;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

nav li {
  display: inline-block;
  list-style-type: none;
  margin-top: 16px;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  text-transform: uppercase;
  display: inline;
  font-weight: bold;
  -webkit-transition: .5s;
  transition: .5s;
}

nav a.active, nav a:hover {
  border-bottom: 1px solid #009faa;
}

nav > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav__logo {
  padding: 1.8rem 0 1.8rem 6.2rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.hero__wrapper {
  position: relative;
  width: 100%;
}

.hero__image {
  position: absolute;
  left: 0;
  top: 0;
  height: 61.1rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.hero__image--stroke {
  position: absolute;
  bottom: 0;
  right: 0;
}

.hero__image--cutout {
  position: absolute;
  bottom: -3px;
  right: 0;
}

.hero__wrapper--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 15.2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 61.1rem;
}

.hero__text {
  font-family: 'brushstrike', sans-serif;
  color: white;
  line-height: 1;
}

.hero__text h1 {
  font-size: 5rem;
  font-weight: lighter;
  font-style: italic;
  max-width: 84rem;
  opacity: 0;
  -webkit-animation: appear .5s ease-in forwards, from-right .2s ease-in-out forwards;
          animation: appear .5s ease-in forwards, from-right .2s ease-in-out forwards;
}

.hero__text p {
  font-size: 11.2rem;
  font-weight: bold;
  letter-spacing: .5rem;
  opacity: 0;
  -webkit-animation: appear .5s ease-in forwards, from-bottom .3s ease-in-out forwards;
          animation: appear .5s ease-in forwards, from-bottom .3s ease-in-out forwards;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.page__devider {
  width: 100%;
  -webkit-box-shadow: 0 2px 10px #919191;
          box-shadow: 0 2px 10px #919191;
  background-color: var(--pri-den-gray-010);
}

.page__devider ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 0;
}

.page__devider li {
  list-style-type: none;
  padding-right: 1rem;
}

.page__devider a {
  font-size: 1.6rem;
  text-decoration: none;
  color: #151515;
}

.page__devider > div {
  padding-left: 15.2rem;
}

.flex__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__head {
  width: 100%;
}

.contact__head .container > div {
  padding-left: 15.2rem;
  padding-top: 6.2rem;
  padding-bottom: 6.2rem;
}

.contact__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__content--text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.contact__content--text h2 {
  font-size: 6rem;
  opacity: 0;
  -webkit-animation: appear .5s ease-in forwards, from-right .5s ease-in-out forwards;
          animation: appear .5s ease-in forwards, from-right .5s ease-in-out forwards;
  -webkit-animation-delay: .8s;
          animation-delay: .8s;
}

.contact__content--text p {
  font-size: 1.6rem;
  max-width: 500px;
  opacity: 0;
  -webkit-animation: appear .5s ease-in forwards, from-bottom .5s ease-in-out forwards;
          animation: appear .5s ease-in forwards, from-bottom .5s ease-in-out forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.contact__content--locations {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: flex;
      -ms-flex-align: flex;
          align-items: flex;
}

.tab__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tab__wrapper:first-child {
  position: relative;
  border-bottom: none !important;
}

.tab__wrapper:first-child::before {
  content: "";
  background: var(--pri-den-gray-005);
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  width: 100vw;
}

.tab {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  padding: 4.5rem;
}

.tab h3 {
  font-size: 2rem;
  letter-spacing: .15rem;
}

.tab p {
  margin-top: .5rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.tab a {
  font-size: 1.6rem;
  width: 100%;
  color: var(--pri-freshwater-blue-100-default);
}

.underline {
  border-bottom: 1px solid var(--pri-den-gray-010);
}

.locations {
  background-color: var(--pri-den-gray-005);
}

.locations__text {
  padding-left: 15.2rem;
  padding-top: 6.2rem;
  padding-bottom: 6.2rem;
}

.locations__text h2 {
  font-size: 6rem;
  opacity: 0;
}

.locations__text p {
  font-size: 1.6rem;
  opacity: 0;
}

.locations__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1024px) {
  .locations__wrapper {
    display: block;
  }
}

.locations__track {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  position: relative;
  margin-right: 2rem;
  padding-bottom: 3rem;
}

@media screen and (max-width: 1024px) {
  .locations__track {
    text-align: center;
    margin: 0 auto;
  }
}

.tracker {
  position: -webkit-sticky;
  position: sticky;
  top: 16rem;
  background-color: var(--pri-den-gray-010);
  padding: 5rem;
  overflow: visible;
}

.tracker h3 {
  font-size: 2rem;
}

.tracker p {
  font-size: 1.6rem;
}

.tracker::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: var(--pri-den-gray-010);
  width: 100vw;
}

.button {
  position: relative;
  padding: 2rem 10rem 1.8rem 1.8rem;
  margin-top: 1rem;
  font-size: 1.6rem;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}

.button:hover span {
  -webkit-animation: line-move 1s ease-in-out infinite;
          animation: line-move 1s ease-in-out infinite;
}

.button__line {
  position: absolute;
  top: 28px;
  right: 20px;
  width: 2rem;
  height: 2px;
  background-color: white;
  vertical-align: middle;
}

.locations__cards {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.locations__cards :nth-child(n + 4) {
  margin-top: 0;
}

@media screen and (max-width: 1024px) {
  .locations__cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.card {
  position: relative;
  -ms-flex-preferred-size: 28%;
      flex-basis: 28%;
  background-color: #fff;
  margin: 0 2rem 4rem;
  z-index: 1;
  min-width: 260px;
  -webkit-box-shadow: 0 0px 6px #cacaca;
          box-shadow: 0 0px 6px #cacaca;
}

.card__content {
  padding: 0 2rem;
  background-color: white;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #fff;
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.card__body h2 {
  font-size: 2.4rem;
  font-weight: 100;
}

.card__body h3 {
  font-size: 1.8rem;
  font-weight: 100;
  padding: 1rem 0;
}

.card__body p {
  padding-top: .6rem;
  padding-bottom: .6rem;
  font-size: 1.1rem;
  color: var(--pri-den-gray-060);
}

.card__footer {
  background-color: #fff;
  text-align: left;
  max-height: 60px;
}

.card__footer a {
  display: block;
  margin: 0 auto;
  font-size: 1.2rem;
  padding: 1.5rem 0 1.5rem 0rem;
  color: var(--pri-freshwater-blue-100-default);
  text-decoration: none;
  border-top: 1px solid var(--pri-den-gray-010);
}

.card__footer a:hover {
  opacity: .9;
}

.square {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  z-index: -1;
  background: black;
  bottom: -.8rem;
  left: -.8rem;
  background-image: linear-gradient(150deg, var(--pri-freshwater-blue-100-default) 4%, var(--pri-valley-green-100-default) 96%);
}

.button__contact {
  position: relative;
  padding: 0 10rem 1.8rem 0;
  font-family: 'brushstrike', sans-serif;
  font-size: 5rem;
  line-height: 1;
  border: none;
  background-color: white;
  color: black;
  cursor: pointer;
  opacity: 0;
}

.button__contact:hover span {
  -webkit-animation: line-move 1.2s ease-in-out infinite;
          animation: line-move 1.2s ease-in-out infinite;
}

.contact {
  position: relative;
  background-color: transparent;
  z-index: 0;
}

.contact > div {
  padding-left: 15.2rem;
  padding-top: 8.2rem;
  padding-bottom: 6.2rem;
}

.contact p {
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
  opacity: 0;
}

.button__contact--line {
  position: absolute;
  top: 30px;
  right: 20px;
  width: 1.5rem;
  height: 2px;
  background-color: black;
  vertical-align: middle;
}

.hills {
  position: absolute;
  z-index: 999;
  bottom: -1px;
  right: 0px;
}

@-webkit-keyframes line-move {
  0%,
  100% {
    -webkit-transform: translateX(0) scaleX(0.35);
            transform: translateX(0) scaleX(0.35);
  }
  50% {
    -webkit-transform: translateX(-50px) scaleX(0.35);
            transform: translateX(-50px) scaleX(0.35);
  }
}

@keyframes line-move {
  0%,
  100% {
    -webkit-transform: translateX(0) scaleX(0.35);
            transform: translateX(0) scaleX(0.35);
  }
  50% {
    -webkit-transform: translateX(-50px) scaleX(0.35);
            transform: translateX(-50px) scaleX(0.35);
  }
}

@-webkit-keyframes from-right {
  from {
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes from-right {
  from {
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes from-bottom {
  from {
    -webkit-transform: translateY(350px);
            transform: translateY(350px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes from-bottom {
  from {
    -webkit-transform: translateY(350px);
            transform: translateY(350px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes from-top {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes from-top {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate__heading {
  -webkit-animation: from-right .5s ease-in-out forwards, appear .5s ease-in-out forwards;
          animation: from-right .5s ease-in-out forwards, appear .5s ease-in-out forwards;
}

.animate__paragraph {
  -webkit-animation: from-bottom .5s ease-in-out forwards, appear .5s ease-in-out forwards;
          animation: from-bottom .5s ease-in-out forwards, appear .5s ease-in-out forwards;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.animate__paragraph1 {
  -webkit-animation: from-top .5s ease-in-out forwards, appear .5s ease-in-out forwards;
          animation: from-top .5s ease-in-out forwards, appear .5s ease-in-out forwards;
}

.animate__button {
  -webkit-animation: from-right .5s ease-in-out forwards, appear .5s ease-in-out forwards;
          animation: from-right .5s ease-in-out forwards, appear .5s ease-in-out forwards;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

/* ********************************************** */
@-webkit-keyframes hill1 {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
}
@keyframes hill1 {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
}

@-webkit-keyframes hill2 {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
}

@keyframes hill2 {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
}

@-webkit-keyframes hill3 {
  from {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  to {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
}

@keyframes hill3 {
  from {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  to {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
}

.hill1__animation {
  -webkit-animation: hill1 3s ease-in-out forwards;
          animation: hill1 3s ease-in-out forwards;
}

.hill2__animation {
  -webkit-animation: hill2 2s ease-in-out forwards;
          animation: hill2 2s ease-in-out forwards;
}

.hill3__animation {
  -webkit-animation: hill3 4s ease-in-out forwards;
          animation: hill3 4s ease-in-out forwards;
}

footer {
  background-color: var(--pri-den-gray-100);
}

footer > div {
  padding-left: 6.2rem;
  padding-right: 6.2rem;
}

.social__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-bottom: 1px solid var(--pri-den-gray-070);
  padding: 2rem 0;
}

.social__icons i {
  color: white;
  font-size: 3rem;
  padding: 1rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.social__icons i:hover {
  color: var(--pri-den-gray-070);
}

.logo__footer {
  padding-top: 1.8rem;
  position: absolute;
}

.contact__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.contact__wrapper h2 {
  font-size: 1.6rem;
  padding-bottom: 1rem;
}

.contact__wrapper h3 {
  font-size: 1.3rem;
  padding-top: 1rem;
}

.contact__wrapper p {
  font-size: 1.3rem;
}

.contact__wrapper a {
  font-size: 1.3rem;
  color: white;
  text-decoration: none;
  color: var(--pri-freshwater-blue-100-default);
}

.contact__wrapper a:hover {
  opacity: .8;
}

.col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.col2 {
  padding-top: 3.5rem;
  padding-left: 4.5rem;
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4.5rem;
}

.footer {
  font-size: 3rem;
  color: white;
  min-height: 9.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid var(--pri-den-gray-080);
}

.flex__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0;
}

.flex__container ul {
  padding: 1rem 0;
}

.flex__container a {
  color: rgba(255, 255, 255, 0.808);
  font-size: 1.3rem;
  padding: 1rem 2rem 1rem 0;
  text-decoration: none;
}

.flex__container a:nth-child(-n +2) {
  border-right: 1px solid var(--pri-den-gray-080);
}

.flex__container a:nth-child(n + 2) {
  padding-left: 2rem;
}

.flex__container a:hover {
  color: white;
}

.copy__info {
  color: rgba(255, 255, 255, 0.808);
}
/*# sourceMappingURL=styles.css.map */